    <nav role="navigation" class="navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a href="#" class="navbar-brand logotipo"><span>Camiones Club</span></a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse container navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">P&aacute;gina de Inicio</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categor&iacute;as <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Camiones</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Remolques</a></li>
                      <li><a href="#">Cabezas tractoras</a></li>
                      <li><a href="#">Semirremolques</a></li>
                      <li><a href="#">Furgonetas</a></li>
                      <li><a href="#">Autocaravanas</a></li>
                      <li><a href="#">Autobuses</a></li>
                      <li><a href="#">Servicio público</a></li>
                      <li><a href="#">Maq.agrícola</a></li>
                      <li><a href="#">Carretillas</a></li>
                      <li><a href="#">Contenedores</a></li>
                      <li><a href="#">Maq. Construcción</a></li>
                   </ul>
                </li>
                <li><a href="#">Servicios</a></li>        
                <li><a href="#">Consutlas</a></li>
            </ul>
        </div>
    </nav>
